body {
    text-align: center;
    background-color:rgb(226, 134, 14);
    font-family: 'Nunito', sans-serif;
}
.Artist {
    font-size: 60px;
}
.title {
    font-size: 40px;
    
}
.lyrics {
    font-size: 30px;
    
}